---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import Packs from '../components/Packs.astro';
import Results from '../components/Results.astro';
import ForWho from '../components/ForWho.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Pack Definitivo para Desarrolladoras">
  <Header />
  <main>
    <Hero />
    <Problem />
    <Solution />
    <Packs />
    <Results />
    <ForWho />
    <CTA />
  </main>
  <Footer />
</Layout>
